POSTGRES_DB=gestapo
POSTGRES_USER=user77
POSTGRES_PASSWORD=password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
JWT_SECRET=change-this-to-a-long-random-secret-at-least-32-characters
JWT_EXPIRATION_MS=2592000000